#imgdiv{
    text-align: center;
    margin-top: 0px;;

}

#header{
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;

}
#header a{
    color:black;
    text-decoration: none;
    
}
#a1:hover{
    background-color: rgb(214, 209, 209);
    border-radius: 50px;
   
}
#a2:hover{

    text-decoration: underline;
}
#a3:hover{

    text-decoration: underline;}
#contianer{
    text-align: center;




}

#searchbox{
    width: 480px;
    line-height: 42px;
    border: none;
    outline: none;
    
}
#searchbox:hover{
    background-color: gainsboro;
    
}



.input{
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    height: 35px;
    padding: 7px;
    
    
}
.input:hover{
    border: 0.2px solid gray ;


}
#micimg{

    margin-bottom: 3px;
}
#zarimg{
    margin-bottom: 5px;


}
#imgdiv{
    border-radius: 50px;
    border: solid 2px gray;
    width: 580px;
    margin: auto;
    
    

}

@media screen and (max-width: 600px ),(min-width: 600px){

 #imgdiv{
    float: none;
    width: 580px;
    


 }   
}


#imgdiv:hover{
    background-color: gainsboro;
    border: none;
}
#gicon{
    margin-top: 220px;
    


}
#flex{
    margin-top: 322px;
    background-color: rgba(202, 196, 196, 0.671);
    padding-left: 20px;
    width: 1919px;

    



}

#num5{

    margin-left: 1320px;
}
#footer{
    display: flex;
}
@media screen and (max-width: 600px){
    #footer{
        float: none;
        width: 100%;
    }
}
#flex a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
#flex a :hover{
    text-decoration: underline;

}
