#imgdiv{
    text-align: center;
    margin-top: 0px;;

}
#contianer{
    text-align: center;




}

#searchbox{
    width: 480px;
    line-height: 42px;
    border: none;
    outline: none;
    
}
#searchbox:hover{
    background-color: gainsboro;
}



.input{
    margin-top: 25px;
}
#micimg{

    margin-bottom: 3px;
}
#zarimg{
    margin-bottom: 5px;


}
#imgdiv{
    border-radius: 50px;
    border: solid 2px gray;
    margin-left: 670px;
    margin-right: 670px;
    

}
#imgdiv:hover{
    background-color: gainsboro;
}
#gicon{
    margin-top: 220px;
    


}
#rightbox{
    margin-top: 377px;
    background-color: rgba(202, 196, 196, 0.671);



}